<header>
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
</header>

<nav>
    <div class="container">
        <ul>
            <li>
                <a routerLink="/">Home</a>&nbsp;
            </li>
            <li>
                <a routerLink="/products">View Products</a>&nbsp;
            </li>
            <li>
                <a routerLink="/add-product">Add Product</a>&nbsp;
            </li>
            <li>
                <a routerLink="/posts">View Posts</a>&nbsp;
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <router-outlet />
    </div>
</main>
<footer>
    <div class="container">
        <p>&copy; 2025 My E-commerce Store. All rights reserved.</p>
    </div>
</footer>